/* BASE **********************************************************************/
:root {
  --theme-dark-1: #0e0f0f;
  --theme-dark-2: #262a2b;
  --theme-text: #deddda;
  --theme-text-bright: #ffffff;
}

html,
body {
  background-color: var(--theme-dark-1);
  color: var(--theme-text);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
