---
name: Build

on:
  push:
  pull_request:
    branches: [main]
  workflow_dispatch:
  workflow_call:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set version
        run: |
          if [[ "${GITHUB_REF}" == refs/tags/* ]]; then
            VERSION="${GITHUB_REF_NAME#v}"
          else
            VERSION="${GITHUB_SHA::7}"
          fi
          echo "REVISION=${VERSION}" >> ${GITHUB_ENV}

      - name: Set up python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
          cache: "pip"

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install .

      - name: Run ruff format
        run: |
          ruff format --check --force-exclude -- app

      - name: Run ruff lint
        run: |
          ruff check --force-exclude -- app

      - name: Run mypy typecheck
        run: |
          mypy --pretty -- app

  build:
    runs-on: ubuntu-latest
    needs: lint

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set version
        run: |
          if [[ "${GITHUB_REF}" == refs/tags/* ]]; then
            VERSION="${GITHUB_REF_NAME#v}"
          else
            VERSION="0.0.0+${GITHUB_SHA::7}"
          fi
          echo "REVISION=${VERSION}" >> ${GITHUB_ENV}

      - name: Set up python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
          cache: "pip"

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install .

      - name: Run build
        run: SETUPTOOLS_SCM_PRETEND_VERSION=${REVISION} python -m build --outdir dist

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist-${{ env.REVISION }}
          path: dist/
          retention-days: 7
          if-no-files-found: ignore
