---
name: Lint

on:
  push:
  pull_request:
    branches: [main]
  workflow_dispatch:
  workflow_call:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up python
        uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install dependencies
        run: uv sync --locked --only-group dev

      - name: Run ruff format
        run: uv run ruff format --check --force-exclude -- app

      - name: Run ruff lint
        run: uv run ruff check --force-exclude -- app

      - name: Run mypy typecheck
        run: uv run mypy --pretty -- app
